{% extends 'base.html' %}

{% block title %}
    Про автора
{% endblock %}

{% block content_title %}
    Про автора
{% endblock %}

{% block content_left %}

<div>
    <p><strong>Автор:</strong> Кривохижа Роман Андрійович</p>
    <p><strong>Email:</strong> kriwohizha@gmail.com</p>
    <p><strong>Група:</strong> ІС-72, II курс</p>
    <p><strong>Університет: </strong>Національный технічний университет України</p>
    <p>«Київский політехничний інститут імени Ігоря Сікорского»</p>
    <p><strong>Номер заліковки:</strong> ІС-7217</p>

    <p><img src="{{ url_for('static', filename='img/title.jpg') }}" width="200" height="300"></p>
</div>

{% endblock %}
