{% extends 'base.html' %}

{% block title %}
    Face recognition
{% endblock %}

{% block content_title %}
    Face recognition from video steam:
{% endblock %}

{% block content_left %}
    <div class="clear"><br/></div>

    <form id="stream-form" action="{{ url_for('face_recognition') }}" method="POST">
        <input class="fsSubmitButton" type="submit" value="Start recognition">
    </form>

    <div class="clear"><br/></div>

    {% if show_excel %}
        <p>Download <a href="{{ url_for('static', filename='output/Student_list.xlsx') }}">the latest list</a></p>
    {% endif %}
{% endblock %}

{% block content_right %}

{% endblock %}
