{% extends 'base.html' %}

{% block title %}
    Site info
{% endblock %}

{% block content_title %}
    Інструкція з встановлення необхідного ПЗ
{% endblock %}

{% block content_left %}
    <div class="clear"><br/></div>

    <p><b>Додавання зображень в базу</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>images</i></li><br>
        <li>Відкрийте папку з потрібною групою чи створіть її, якщо вона ще не створена</li><br>
        <li>Відкрийте папку з потрібною особою чи створіть її, якщо вона ще не створена</li><br>
        <li>Додайте в цю папку декілька фото особи (3-5 шт.) в різних ракурсах. Бажано додавати фото малого розміру.
        На фото має бути виключно одна особа для коректності розпізнавання.</li><br>
    </ol>

    <div class="clear"><br/></div>


{% endblock %}
