{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block content_title %}
    Інструкція користування сайтом
{% endblock %}

{% block content_left %}
    <div class="clear"><br/></div>
<p><b>Для того щоб розпочати процес розпізнавання та реєстрації Вам потрібно:</b></p>
    <ol>
        <li><p>Перейти на сторінку "Face recognition"</p></li>
        <li><p>Натиснути на кнопку "Start recognition", після чого дочекатись запуску веб-камери та старту програми</p></li>
        <li><p>Для завершення процесу розпізнавання та реєстрації натисніть клавішу "ESC" чи "Enter"</p></li>
        <li><p>Для завантаження вихідного Excel-файлу перейдіть за відповідним посиланням, що знаходиться нижче</p></li>
    </ol>
{% endblock %}
