{% extends 'base.html' %}

{% block title %}
    Site info
{% endblock %}

{% block content_title %}
    Інструкція з встановлення необхідного ПЗ
{% endblock %}

{% block content_left %}
    <div class="clear"><br/></div>

    <p><b>Встановлення інтерпретатора Python-3.5.4</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>setup</i></li><br>
        <li>Для тихого встановлення запустіть <i>Install Python 3.5.4.bat</i></li><br>
        <li>Для звичайного встановлення оберіть <i>python-3.5.4-amd64.exe (не забудьте поставити галочку біля пункуту PATH)</i></li><br>
    </ol>

    <div class="clear"><br/></div>

    <p><b>Встановлення всіх необхідних пакетів (необхідне підключення до інтернету)</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>setup</i></li><br>
        <li>Для тихого встановлення всіх пакетів запустіть <i>Install all package.bat</i></li><br>
    </ol>

    <div class="clear"><br/></div>

    <p><b>Також передбачений спосіб встановлення і інтерпретатора, і пакетів (необхідне підключення до інтернету)</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>setup</i></li><br>
        <li>Для тихого встановлення всіх пакетів запустіть <i>Install all.bat</i></li><br>
    </ol>

    <div class="clear"><br/></div>

    <p><b>Також можливий варіант копіювання вже встановленого інтерпретатора (дуже мала вірогідність сумісності з системою)</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>setup</i></li><br>
        <li>Скопіюйте папку <i>Python35</i></li><br>
        <li>Вставте дану папку за шляхом <i>C:\Users\User_name\AppData\Local\Programs\Python\</i></li><br>
        <li>Скопіюйте всі файли, окрім папки <i>setup</i>, з кореневої папки програми та вставте за шляхом <i>C:\Users\User_name\AppData\Local\Programs\Python\</i></li><br>
    </ol>

    <div class="clear"><br/></div>

    <p><b>Для запуску сайту запустіть файл <i>START.bat</i></b></p>

{% endblock %}
