{% extends 'base.html' %}

{% block title %}
    Site info
{% endblock %}

{% block content_title %}
    Інструкція з встановлення необхідного ПЗ
{% endblock %}

{% block content_left %}
    <div class="clear"><br/></div>

    <p><b>Встановлення інтерпретатора Python-3.5.4</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>setup</i></li><br>
        <li>Для тихого встановлення запустіть <i>Install Python 3.5.4.bat</i> (рекомендовано встановлювати таким чином)</li><br>
        <li>Для звичайного встановлення оберіть <i>python-3.5.4-amd64.exe (не забудьте поставити галочку біля пункуту PATH)</i></li><br>
    </ol>

    <div class="clear"><br/></div>

    <p><b>Встановлення всіх необхідних пакетів (необхідне підключення до інтернету)</b></p>
    <ol>
        <li>Перейдіть до кореневої папки програми <i>(../face-recognition-flask-site/)</i></li><br>
        <li>Відкрийте папку <i>setup</i></li><br>
        <li>Для тихого встановлення всіх пакетів та оновлення версії pip запустіть в режимі адміністратора файл <i>Install packages and upgrade pip.bat</i> (рекомендовано встановлювати таким чином)</li><br>
        <li>В разі виникнення помилки, проведіть ці операції окремо, спочкатку запустивши в реживі адміністратора файл <i>Upgrade pip.bat</i>, а тоді <i>Install packages.bat</i></li><br>
    </ol>

    <div class="clear"><br/></div>

    <p><b>Для запуску сайту запустіть в кореневій папці проекту файл <i>START.bat</i></b></p>

{% endblock %}

{% block content_right %}
    <p style="margin-left: 5%">Увага! Перед початком роботи програми ознайомтесь з:
        <ul style="margin-left: 10%">
            <li><a href="{{ url_for('site_info') }}">інструкцією по встановленню ПЗ</a></li><br>
            <li><a href="{{ url_for('how_to_add_img') }}">інструкцією по додаванню зображень в базу</a></li><br>
        </ul>
{% endblock %}
